<h2>By Region</h2>
<hr />
<div class="row">
  <div class="col">
    <shared-search-box
      (onValue)="searchByRegion($event)"
      (onDebounce)="searchByRegion($event)"
      placeholder="Americas, Africa, etc.."
    ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr />
    <shared-loader
      text="country"
      color="#fff"
      *ngIf="isLoading"
    ></shared-loader>
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
